@width: 64px;
@padding: 24px;

.easynote-btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: @padding;
    bottom: @padding;
    width: @width;
    height: @width;
    border-radius: 50%;
    font-size: 16px;
    background-color: #73b1f8;
    box-shadow: #4da0ff 0 0 6px;
    user-select: none;
    cursor: pointer;
    color: #fff;
}